<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <title>form的数据绑定</title>
    <meta charset="utf-8">
</head>
<body>
<div data-ng-controller="formCtrl">
    <form method="post">
        姓名:<input type="text" name="username" data-ng-model="user.username"/><br>
        邮箱:<input type="text" name="email" data-ng-model="user.email"/><br>
        <button type="button" data-ng-click="save()">保存</button>
    </form>
</div>
</body>
<script src="../public/lib/angular/angular.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('formCtrl', ['$scope', function ($scope) {
        $scope.save = function () {
            console.log($scope.user);
        };
    }]);
</script>
</html>